<!DOCTYPE html>
<html ng-app>
  <meta charset="UTF-8"/>
  <head>
    <link href='dub.css' rel="stylesheet" type='text/css'></style>
    <link href='bootstrap/css/bootstrap.css' rel="stylesheet" type='text/css'></style>
    <link href='bootstrap/css/bootstrap-responsive.css' rel="stylesheet" type='text/css'></style>
  </head>
  <body>
    <div ng-controller="DubMark.ProjectEntry" id="main" class="main">

      <!-- Navbar, TODO: add google translate options here? -->
      <div id="topBar" class="navbar navbar-inner">
        <form class="navbar-form pull-left">
          <span class="brand"> Project </span>
          <input ng-model="project.title"  type="text" /> 
          &nbsp;
        </form>

        <div class="pull-left">
          <span class="brand">Video Controls</span>
          <button class="btn" ng-click="project.vid.play()">Play</button>
          <button class="btn" ng-click="project.vid.pause()">Pause</button>
          &nbsp;
        </div>

        <div class="pull-left">
          <span class="brand"> Subtitle Controls</span>
          <button class="btn" ng-click="project.controls.newSub()">New Sub</button>
          <button class="btn" ng-click="project.controls.endSub()">End Sub</button>
          <button class="btn" ng-click="project.controls.pauseAndEndSub()">Pause & End</button>
          <button class="btn" ng-click="project.controls.setStart()">Set Start</button>
          <button class="btn" ng-click="project.controls.setEnd()">Set End</button>
          &nbsp;
        </div>
      </div>

      <!-- Top level container for the rest of the page elements -->
      <div class="container-fluid">
        <div class="row-fluid">
          <div id="video" class="span7"> 
          </div>
          <!-- Placeholder for where we are going to insert the video -->
          <div class="span5">
            <div class="well" ng-click="project.controls.setCurrentSubByTime()">
              <div class="nav-header">  Current Text For Video Time</div>
              Translation: {{project.control.activeText}} 
            </div>
            <!-- Insert the controls here. -->
            <!-- For editing the subtitle that you select -->
            <div class="well sidebar-nav">
              <div class="nav-header">Edit Subtitle</div>
              <form id="current" class="current_sub unfocus" ng-submit="project.controls.update()">
                <div>
                  <input ng-model="project.subs.curr.text" type="text" class="span10" placeholder="Source"/> 
                  <input ng-model="project.subs.curr.sTime" type="number" class="span2 pull-right" placeholder="Start Time"/> 
                </div>
                <div>
                  <input ng-model="project.subs.curr.trans" type="text" class="span10" placeholder="Translation"/> 
                  <input  ng-model="project.subs.curr.eTime" type="number" class="span2 pull-right" placeholder="End Time"/> 
                </div>
              </form>
              <button class="btn" ng-click="project.controls.removeSub()">Remove</button>
            </div>
          </div>
        </div>

        <!-- A listing of all the existing subtitles, can click to select them -->
        <div class="row-fluid">
          <div class="span5 pull-right">
          <div id="subtitle" class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Subtitles</li>
              <li class="{{sub.active}}" id="sub_{{sub.id}}" ng-repeat="sub in project.subs.arr"> <!-- Click selection should make current -->
              <a ng-click="project.controls.setCurrent(sub);"> <!-- apply class active if active -->
                [{{sub.sTime}} - {{sub.eTime}}]</br>
                {{sub.text}}
                  <br/>
                {{sub.trans}}
              </a>
              </li>
            </ul>
          </div>
          </div>
        </div>

      </div> <!-- End container fluid -->
    </div> <!-- End ng controller -->

    <!-- All the script includes -->
    <script src="jquery-1.8.3.js"> </script>  
    <script src="bootstrap/js/bootstrap.js"> </script>  
    <script src="angular.js"></script>
    <script src="dub-mark.js"></script>
    <script type="text/javascript">
      $(function(){
          try{ //Video tags do not play nice with post process operations.
          var v  = $('#video').append(
            $('<video>', {id: 'video_1', controls: true}).append(
              $('<source>',  {type: 'video/ogg', src: 'Sample.webm'})
            )
          );
          }catch(e){
            console.error('Failed to load.');
          }
      });
    </script>
  </body>
</html>
