  <div class="banner"><div>

  <div ng-app='dub' ng-controller="ProjectEntry" id="main" class="main">
      <!-- Navbar, TODO: add google translate options here? -->
      <div id="topBar" class="navbar navbar-inner">
        <!-- Title information -->
        <div class="span4">
          <span class="brand">{{gT('Title')}}</span>
          <input class="span3 m5" type="text"
              ng-model="project.ResourceProject.title" 
              ng-focus="keypress.sleep()"
              ng-change="project.update()"  
              placeholder="{{gT('No Name?')}}"
          /> 
        </div>
        <!-- Status information -->
        <div class="span6">
          <span class="brand">{{gT('Status')}}</span>
          <div class="span4 m5">
            <status></status>
          </div>
        </div>
        <!-- Key handling widget -->
        <keyhandler keypress=keypress></keyhandler> 
      </div>
      <!-- Top level container for the rest of the page elements -->
      <div class="container-fluid">
        <div class="row-fluid">

          <!-- Placeholder for where we are going to insert the video -->
          <videomanager></videomanager>

          <!-- For editing the subtitle that you select -->
          <div id="subtitles" class="span5">

            <!-- Editing container -->
            <div class="container-fluid well">
              <div id="subcontrols" class="navbar">
                <span class="brand">{{gT('Editing')}}</span>
                <button ng-click="action.newSub()" 
                  title="{{gT(i18n.NewSub)}}" id="new" class="btn" >
                  <i class="icon-plus"></i>
                </button>
                <button  ng-click="action.endSub()"
                  title="{{gT('End the current subtitle')}}" id="end" class="btn">
                  <i class="icon-ok"></i>
                </button>
                <button ng-click="action.pauseAndEndSub()" 
                  title="{{gT('End and Pause')}}" class="btn" >
                  <i class="icon-ok"></i>
                  <i class="icon-pause"></i>
                </button>
                <button ng-click="action.splitSub()" 
                  title="{{gT('Split the currently selected sub')}}" class="btn" >
                  <i class="icon-resize-full"></i>
                </button>
                <button  ng-click="action.removeSub()"
                  title="{{gT('Remove the currently selected sub')}}" class="btn">
                  <i class="icon-trash"></i>
                </button>

                <!-- Style editor for just a single subtitle (hidden unless a sub is active) --> 
                <div class="pull-right" 
                  ng-init="stylinType='Sub';"
                  ng-hide="!project.subs.curr">

                  <substylin resource=project.subs.curr></substylin>
                </div>
              </div>

              <!-- Editing a set of subtitles -->
              <div class="row-fluid">
                <input id="source" type="text" class="span13" placeholder="Source" 
                  ng-focus="keypress.sleep()"
                  ng-change="action.changeSub()" 
                  ng-model="project.subs.curr.source" 
                  ng-disabled="!project.subs.curr"
                /> 
              </div>
              <div class="row-fluid">
                <input id="translation" type="text" class="span13" placeholder="Translation" 
                  ng-focus="keypress.sleep()"
                  ng-change="action.changeSub()" 
                  ng-model="project.subs.curr.trans" 
                  ng-disabled="!project.subs.curr"
                /> 
              </div>

              <!-- Editing controls for a subtitle that is currently active -->
              <div class="row-fluid">
                <form class="navbar-form pull-left">
                  <button  title="Jump to Sub Start." type="button" class="btn m5"
                    ng-click="action.jumpStart()" 
                    ng-disabled="!project.subs.curr"
                  >    
                    <i class="icon-fast-backward"></i>
                  </button>
                  <button title="Set Sub to Video Time."  type="button" class="btn m5" 
                    ng-click="action.setStart()"
                    ng-disabled="!project.subs.curr"
                  >
                    <i class="icon-time"></i>
                  </button>
                  <input type="time" class="span3" placeholder="{{gT('Start')}}"
                    ng-change="action.changeSub()" 
                    ng-focus="keypress.sleep()"
                    ng-model="project.subs.curr.sTime" 
                    ng-disabled="!project.subs.curr"
                  /> 
                  <input type="time" class="span3" placeholder="{{gT('End')}}" 
                    ng-change="action.changeSub()" 
                    ng-focus="keypress.sleep()"
                    ng-model="project.subs.curr.eTime"   
                    ng-disabled="!project.subs.curr"
                  /> 
                  <button title="{{gT('Set subtitle end to current video time.')}}" type="button" class="btn m5"
                    ng-click="action.setEnd()" 
                    ng-disabled="!project.subs.curr"
                  >
                    <i class="icon-time"></i>
                  </button>
                  <button  title="{{gT('Jump video to end time for subtitle')}}" class="btn m5"
                    ng-click="action.jumpEnd()" 
                    ng-disabled="!project.subs.curr"
                  >
                    <i class="icon-fast-forward"></i>
                  </button>
                </form>
              </div>
            </div>

            <!-- Style elements in the project -->
            <projstylin project=project stylin=stylin> </projstylin>


            <!-- A listing of all the existing subtitles, can click to select them -->
            <div id="subtitle" class="well">
              <ul class="nav nav-list">
                <li class="nav-header">{{gT('Subtitles')}}</li>
                <li class="{{project.controls.isActive(sub)}}" ng-repeat="sub in project.subs.arr"> <!-- Click selection should make current -->
                <a id="sub_{{sub.id}}"  ng-click="project.controls.setCurrent(sub);"> <!-- apply class active if active -->
                  [{{sub.sTime}} - {{sub.eTime}}]</br>
                  {{sub.source}}
                    <br/>
                  {{sub.trans}}
                </a>
                </li>
              </ul>
            </div>


          </div> <!-- End subtitles sub container -->

        </div><!-- End Span container -->
      </div> <!-- End container fluid -->
    </div> <!-- End ng controller -->

    <!-- All the script includes -->
    <script type="text/javascript">
      DubMark.Config.base.url = 'http://localhost\\:3000/';
      DubMark.Config.PageConfig = JSON.parse(decodeURIComponent('<%= @project.to_json.html_safe =%>'));
    </script>
