  <div class="banner"><div>

  <div ng-app='dub' ng-controller="ProjectEntry" id="main" class="main">
      <!-- Navbar, TODO: add google translate options here? -->
      <div id="topBar" class="navbar navbar-inner">
        <form class="navbar-form pull-left">
          <span class="brand"> Title </span>
          <input  ng-model="project.ResourceProject.title" ng-change="project.update()"  class="span4" type="text" /> 
          &nbsp;
          &nbsp;
        </form>

        <!-- Allow the user to change the status of the project.  Requires $scope.proj to be a $Resource of Project -->
        <span class="brand"> Status </span>
        <div class="span4" style="margin-top: 5px">
            <status></status>
        </div>

        &nbsp;
        &nbsp; <!-- TODO convert to widget? -->
        <input type="button" id='hotkeys' 
          ng-click="keypress.toggle()" class="btn btn-primary" 
          ng-class=keypress.isEnabled()
          value="Hotkeys {{keypress.enabled}}"> 
        </input>
      </div>
      <!-- Top level container for the rest of the page elements -->
      <div class="container-fluid">
        <div class="row-fluid">

          <!-- Placeholder for where we are going to insert the video -->
          <videomanager></videomanager>

          <!-- For editing the subtitle that you select -->
          <div id="subtitles" class="span5">

            <!-- Editing container -->
            <div class="container-fluid well">
              <div id="subcontrols" class="navbar">
                <span class="brand">Editing</span>
                <button ng-click="action.newSub()" 
                       title="Create a new subtitle" id="new" class="btn" >
                  <i class="icon-plus"></i>
                </button>
                <button  ng-click="action.endSub()"
                  title="End the current subtitle" id="end" class="btn">
                  <i class="icon-ok"></i>
                </button>
                <button ng-click="action.pauseAndEndSub()" 
                  title="End subtitle and Pause" class="btn" >
                  <i class="icon-ok"></i>
                  <i class="icon-pause"></i>
                </button>
                <button ng-click="action.splitSub()" 
                  title="Split the currently selected sub into two" class="btn" >
                  <i class="icon-resize-full"></i>
                </button>
                <button  ng-click="action.removeSub()"
                  title="Remove the currently selected sub" class="btn">
                  <i class="icon-trash"></i>
                </button>
                <div class="pull-right">
                <span class="brand">&nbsp;Video</span>
                <button ng-click="project.vid.play()" class="btn" ><i class="icon-play"></i></button>
                <button ng-click="project.vid.pause()" class="btn"><i class="icon-pause"></i></button>
                </div>
              </div>

              <!-- Editing a set of subtitles -->
              <div class="row-fluid">
                <input id="source"
                  ng-focus="keypress.sleep()"
                  ng-change="action.changeSub()" 
                  ng-model="project.subs.curr.source" type="text" class="span11" placeholder="Source" /> 
              </div>
              <div class="row-fluid">
                <input id="translation"
                  ng-focus="keypress.sleep()"
                  ng-change="action.changeSub()" 
                  ng-model="project.subs.curr.trans" type="text" class="span11" placeholder="Translation" /> 
              </div>

              <div class="row-fluid">
                <form class="navbar-form pull-left">
                  <button ng-click="action.jumpStart()" 
                     title="Jump to Sub Start." type="button" class="btn">    
                    <i class="icon-fast-backward"></i>
                  </button>
                  <button ng-click="action.setStart()"
                          title="Set Sub to Video Time."  type="button" class="btn" >
                    <i class="icon-time"></i>
                  </button>
                  <input ng-change="action.changeSub()" 
                         ng-model="project.subs.curr.sTime"   type="text"  class="span2"  placeholder="Start" /> 
                  <input ng-change="action.changeSub()" 
                         ng-model="project.subs.curr.eTime"   type="text" placeholder="End" class="span2" /> 
                  <button ng-click="action.setEnd()" 
                          title="Set subtitle end to current video time." type="button" class="btn">
                    <i class="icon-time"></i>
                  </button>
                  <button  ng-click="action.jumpEnd()" 
                    title="Jump video to end time for subtitle" class="btn">
                    <i class="icon-fast-forward"></i>
                  </button>
                </form>
              </div>

            </div>

            <!-- A listing of all the existing subtitles, can click to select them -->
            <div id="subtitle" class="well">
              <ul class="nav nav-list">
                <li class="nav-header">Subtitles</li>
                <li class="{{project.controls.isActive(sub)}}" ng-repeat="sub in project.subs.arr"> <!-- Click selection should make current -->
                <a id="sub_{{sub.id}}"  ng-click="project.controls.setCurrent(sub);"> <!-- apply class active if active -->
                  [{{sub.sTime}} - {{sub.eTime}}]</br>
                  {{sub.source}}
                    <br/>
                  {{sub.trans}}
                </a>
                </li>
              </ul>
            </div>


          </div> <!-- End subtitles sub container -->

        </div><!-- End Span container -->
      </div> <!-- End container fluid -->
    </div> <!-- End ng controller -->

    <!-- All the script includes -->
    <script type="text/javascript">
      DubMark.Config.base.url   = 'http://10.100.116.175\\:3001/';
      DubMark.Config.PageConfig = JSON.parse(decodeURIComponent('<%= @project.to_json.html_safe =%>'));
    </script>
